// $ SLIM save.slim
// $ slim -d zz=1 save.slim
// $ slim -d selectionstrength=0.2 -d pop_size=1000 save.slim
initialize() {
 initializeMutationRate(1e-7);
 initializeMutationType("m1", 0.5, "f", 0.0); // neutral
 initializeMutationType("m2", 0.5, "f", selectionstrength); // beneficial
 initializeGenomicElementType("g1", c(m1,m2), c(0.995,0.005));
 initializeGenomicElement(g1, 0, 99999);
 initializeRecombinationRate(1e-8);
}



1 { 
	sim.addSubpop("p1", pop_size); 
}

100 {
	// Hashs make it easy for python to grab, should be objective function here
	print("#");
	cat(sim.countOfMutationsOfType(m2));
	print("#");
}


9000 {
	// Hashs make it easy for python to grab, should be objective function here
	print("#");
	cat(sim.countOfMutationsOfType(m2));
	print("#");
}


10000 { 
	sim.simulationFinished(); 
} 