

initialize() {
 initializeMutationRate(1e-7);
 setSeed(54321);
 initializeMutationType("m1", 0.5, "f", 0.0); // neutral
 initializeMutationType("m2", 0.5, "n", 0.2, 0.5); // QTLs
m2.convertToSubstitution = F;
 initializeGenomicElementType("g1", m1, 1);
 initializeGenomicElementType("g2", m2, 1);
 initializeGenomicElement(g1, 0, 20000);
 initializeGenomicElement(g2, 20001, 30000);
 initializeGenomicElement(g1, 30001, 99999);
 initializeRecombinationRate(1e-8);
}


fitness(m2) { return 1.0; }
1 { sim.addSubpop("p1", 500); }
1:499{
	// Initial populations with stabilising selection 
	inds = sim.subpopulations.individuals;
 	phenotypes = inds.sumOfMutationsOfType(m2);
 	scale = dnorm(5.0, 5.0, 2.0);
 	inds.fitnessScaling = 1.0 + dnorm(phenotypes, 5.0, 2.0) / scale;
}
500: late() {
	setSeed(lateSeed);
	sim.mutationsOfType(m2).setSelectionCoeff(selectionstrength);
	inds = sim.subpopulations.individuals;
 	phenotypes = inds.sumOfMutationsOfType(m2);
 	inds.fitnessScaling = 1.0 + phenotypes * 0.12; 

// Early generation 502
if (sim.generation == 502)
 	catn("#" + mean(phenotypes) + "#");
// Late Generation 510
if (sim.generation ==  510)
 	catn("#" + mean(phenotypes) + "#");
 	
}

511 late() {

} 